{#  this fires an event, all listeners/subscribers will respond.  use A #}
{#    {% set menuItem = knp_menu_get(menuAlias, path, options) %}#}
    {% if type == 'sidebar' %}
        {{ knp_menu_render(menuItem, {
            "template"      : "@SurvosBootstrap/sneat/knp_menu.html.twig",
            "debug": debug|default(false),
            currentAsLink: true,
            firstClass: 'first',
            currentClass  : "active",
            "listAttributes": {
                "class": "menu-inner py-1",
            } ,
            "ancestorClass" : "menu-item menu-open",
            "branch_class"  : "menu-item ",
            'leaf_class'    : 'menu-item leaf ',
            'link_class'    : 'menu-link',
            "allow_safe_labels": true,

            'comment': "This is an custom option passed in knp_menu_render. Only used by our custom renderer.",
            rootAttributes: {
                class: 'menu-inner py-1',
                role: 'menu'
            },

        }) }}

    {% elseif type in ['footer']  %}

        {{ knp_menu_render(menuItem, {
            template: '@SurvosBootstrap/knp_top_menu.html.twig',
            leaf_class: "list-group-item footer-link me-4",
            rootAttributes: {
                class:"nav nav-justify-end list-group list-group-horizontal dropup"
            },
            style: 'footer',
            something_else: 'test render!!'
        }) }}


    {% elseif type in ['top_auth']  %}
        {% set menuHtml = knp_menu_render(menuItem, {
            attributes: "dropdown-menu dropdown-menu-end",
            template: '@SurvosBootstrap/knp_top_menu.html.twig',
            style: 'dropdown'}) %}
        {{ menuHtml|raw }}

    {% elseif type in ['top_navbar', 'top_page'] %}
        {{ knp_menu_render(menuItem, {
            rootAttributes: {
                class:"navbar-nav me-auto mb-2 mb-lg-0 list-group-horizontal"
            },
            template: '@SurvosBootstrap/knp_top_menu.html.twig',
            style: 'navbar'}) }}
    {% else %}
        <div class="text-danger">Invalid menu type: {{ type }}</div>
    {% endif %}
{#    { #}
{#    debug: app.request.get('debug', false), #}
{#    menuItem: menuItem, #}
{#    project: project, #}
{#    title: project.code #}
{#    } #}
