{% extends 'base.html.twig' %}

{% block title %}Official index{% endblock %}

{% block body %}
    <h1>Official index </h1>
    <p>
        This page uses the <code>grid</code> component, and generates HTML from the query.
    </p>

    {% component grid with {
        data: officials,
        columns: ['id', 'officialName']|merge(is_granted('ROLE_ADMIN')?['actions']:['birthday'])
    } %}

        {% block officialName %}
        <a href="{{ path('app_congress_show', {'id': row.id}) }}">
            {{ row.officialName }}
        </a>
        {% endblock %}

        {% block birthday %}
            {{ row.birthday|date('Y-m-d') }}
        {% endblock %}

        {% block actions %}
            <a href="{{ path('app_congress_edit', {'id': row.id}) }}">edit</a>
        {% endblock %}

    {% endcomponent %}

{% endblock %}
